.container {
  max-width: 1490;
  margin: 0 auto;
}

.gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  padding: 20px 0;
  margin-bottom: 20px;
}

img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50px;
}

.photo-card {
  display: inline-block;
  width: 350px;
  border-bottom: 1px solid rgba(56, 145, 186, 0.379);
  border-radius: 50px;
}

.photo-card:hover,
:focus {
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 50px rgba(1, 1, 1, 0.852);
  transition-duration: 0.9s;
  transition-property: box-shadow, transform;
  border-radius: 50px;
}

.photo {
  min-width: 350px;
  height: 250px;
}

.info {
  padding: 10px 10px;
  display: flex;
  justify-content: space-around;
  gap: 10px;
  color: black;
  font-weight: 500;
  font-size: 12px;
  line-height: 1;
  text-align: center;
  font-size: 0.75rem;
  font-weight: 500;
  justify-content: center;
  line-height: 1.75rem;
  padding: 0.75rem 1.65rem;
}

.info-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.input {
  padding-left: 50px;
  padding-right: 50px;
  width: 300px;
  height: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
}

button {
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  all: unset;
  width: 100px;
  height: 30px;
  font-size: 16px;
  background: transparent;
  border: none;
  position: relative;
  color: #f0f0f0;
  cursor: pointer;
  z-index: 1;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button::after,
button::before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -99999;
  transition: all 0.4s;
}

button::before {
  transform: translate(0%, 0%);
  width: 100%;
  height: 100%;
  background: #28282d;
  border-radius: 10px;
}

button::after {
  transform: translate(10px, 10px);
  width: 35px;
  height: 35px;
  background: #ffffff15;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 50px;
}

button:hover::before {
  transform: translate(5%, 20%);
  width: 110%;
  height: 110%;
}

button:hover::after {
  border-radius: 10px;
  transform: translate(0, 0);
  width: 100%;
  height: 100%;
}

button:active::after {
  transition: 0s;
  transform: translate(0, 5%);
}
